---
layout: default
---

<div class="post-content">
<!--    <div class="wrapper">-->
    
        <h1>{{page.title}}</h1>

        <p>IDeATe inventory no. {{page.number}}</p>
        
        <p><i>{{page.brief}}</i></p>

        <p><img class="center" src="/images/{{page.number}}.jpg" /></p>
        <!-- <p><img src="/images/{{page.number}}.jpg" alt=" {{page.title}} " /></p> -->

        {{page.content}}
        
        {% if page.datasheet != nil %}

            <h2>Data sheet</h2>

            <p><a href="/datasheets/{{page.datasheet}}" target="_blank"> {{page.title}} datasheet</a></p>
        
        {% endif %}
        
        {% if page.purchaselink != nil %}

            <h2>Purchase link</h2>

            <p><a href="{{page.purchaselink}}" target="_blank"> {{page.title}} purchase link</a></p>

        {% endif %}

        <h2 id="out-of-stock">Out of stock?</h2>

        <p><a href="mailto:&#104;&#101;&#108;&#112;&#064;&#105;&#100;&#101;&#097;&#116;&#101;&#046;&#099;&#109;&#117;&#046;&#101;&#100;&#117;?subject=out-of-stock+notification%3A+{{page.title}}&amp;body=Item+number+{{page.number}}%2C+%22{{page.title}}%22%2C+is+out+of+stock.%0D%0A%0D%0A%28Feel+free+to+add+any+additional+comments+or+notes+below+before+sending.%29" target="_blank" class="button">Click to notify IDeATe that this item is out of stock.</a></p>
        
        <br><br>
        
        <small>
            Data populating this page last updated {{ page.date | date: "%F %T %Z" | timezone: "America/New_York" }}
        <br>
            Static HTML page last generated {{ "now" | date: "%F %T %Z" }}
        </small>
    
<!--    </div>-->
</div>
